<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>宽窄巷子.jpg</string>
		<key>name</key>
		<string>宽窄巷子</string>
		<key>phone</key>
		<string>028-0000-0000</string>
		<key>address</key>
		<string>成都市蜀都大道西端金河宾馆北面</string>
	</dict>
	<dict>
		<key>image</key>
		<string>杜甫草堂.jpg</string>
		<key>name</key>
		<string>杜甫草堂</string>
		<key>phone</key>
		<string>028-0000-0001
028-0000-0001
028-0000-0001
</string>
		<key>address</key>
		<string>成都市青华路38号，成都市外西草堂路
成都市青华路38号，成都市外西草堂路
</string>
	</dict>
	<dict>
		<key>image</key>
		<string>欢乐谷.jpg</string>
		<key>name</key>
		<string>欢乐谷</string>
		<key>phone</key>
		<string>028-0000-0002
028-0000-0002
</string>
		<key>address</key>
		<string>成都市金牛区西华大道16号
成都市金牛区西华大道16号
成都市金牛区西华大道16号
</string>
	</dict>
	<dict>
		<key>image</key>
		<string>武侯祠.jpg</string>
		<key>name</key>
		<string>武侯祠</string>
		<key>phone</key>
		<string>028-0000-0003
028-0000-0003</string>
		<key>address</key>
		<string>四川省成都市南门武侯祠大街
</string>
	</dict>
	<dict>
		<key>image</key>
		<string>熊猫基地.jpg</string>
		<key>name</key>
		<string>熊猫基地
</string>
		<key>phone</key>
		<string>028-0000-0004
028-0000-0004</string>
		<key>address</key>
		<string>成都北郊斧头山
成都北郊斧头山
成都北郊斧头山
成都北郊斧头山
</string>
	</dict>
	<dict>
		<key>image</key>
		<string>锦里.jpg</string>
		<key>name</key>
		<string>锦里</string>
		<key>phone</key>
		<string>028-0000-0005
028-0000-0005</string>
		<key>address</key>
		<string>成都武侯祠大街中段
</string>
	</dict>
</array>
</plist>
